.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-bg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.video-bg video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sign-up-container {
    height: 80%;
    width: 70%;
    background-color: rgba(33, 33, 33, 0.4);
    backdrop-filter: blur(1.25vw);
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contents {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 1.25fr;
    position: relative;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left-content {
    background: rgb(78,123,255);
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 7.5vh 3vw;
    border-radius: 1vw;
}

.tagline {
    margin-top: 2vh;
}

.tagline h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75vw;
    line-height: 1.2;
    color: white;
}

.model img {
    width: 18vw;
}

.right-content {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
    position: relative;
    padding: 3vh 7vw 3vh 2vw;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.logo img {
    width: 10vw;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 4vh;
}

.title h2 {
    font-family: var(--header-text-font);
    font-size: 1.75vw;
    color: white;
}

.title p {
    color: rgba(255, 255, 255, 0.75);
    font-family: var(--body-text-font);
    font-size: 1vw;
}

.title a {
    color: rgb(137, 167, 255);
    font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(21, 21, 21, 0.5);
    font-size: 1vw;
}

.field {
    width: 100%;
    height: max-content;
    margin-bottom: 1vh;
}

.field label, .role label {
    color: white;
    font-size: 1vw;
    font-family: var(--body-text-font);
    width: 100%;
}

.field span, .role span {
    color: red;
    text-shadow: 0 0 1vw rgba(21, 21, 21, 0.5);
}

.field-input {
    width: 100%;
    height: 6vh;
    position: relative;
    margin-top: 1vh;
}

.field-input .fa-light, .field .fa-light {
    position: absolute;
    color: white;
    left: 1vw;
    font-size: 1vw;
    top: 50%;
    transform: translateY(-50%);
}

.field input, .submit input, .field select, .field-input select {
    width: 100%;
    height: 6vh;
    background-color: rgba(21, 21, 21, 0.5);
    border: 0.125vw solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5vw;
    transition: .1s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0 2vw 0 3vw;
    color: white;
    font-size: 1vw;
    transition: .2s ease;
}

.field select {
    padding-right: 0;
}

.field input[type="date"] {
    padding-right: 1vw;
}

.field input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.field input:focus, .field input:valid {
    outline: 0;
    border-color: rgb(28, 85, 255) !important;
}

.submit {
    margin-bottom: 1vh;
}

.submit input {
    background-color: rgb(78,123,255);
    font-family: var(--header-text-font);
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin-top: 1.5vh;
}

.roles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roles input {
    height: 1vw;
    width: 1vw;
    vertical-align: middle;
    border: 0;
    outline: 0;
    margin-right: 0.25vw;
}

.roles input:nth-child(3) {
    margin-left: 1vw;
}

.roles label {
    width: max-content;
}

.terms {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.terms p {
    font-family: var(--body-text-font);
    color: rgb(206, 206, 206);
    font-size: 1vw;
}

.terms a {
    color: rgb(137, 167, 255);
    font-weight: 500;
}

.split {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.5vw;
}

.error {
    border-color: red !important;
}

.swal2-title {
    font-family: var(--header-text-font);
    font-family: 2vw;
}

.swal2-html-container {
    font-family: var(--body-text-font);
    font-size: 1.3vw;
}

.error-msg {
    float: right;
    text-shadow: 0 0 3vw black;
    visibility: hidden;
    color: rgb(255, 175, 175);
}